:root {
  --max-width: 1100px;
  --default-background: rgb(17, 18, 20);
  --light-background: rgb(41, 44, 49);
}
body {
  height: 100vh;
  background: var(--default-background);
  font-size: 12px;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  border-radius: 5px;
  background: var(--light-background);
  padding: 4px;
  margin: 4px;
}

button {
  background-color: var(--default-background);
  border: 0;
  padding: 4px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s;
}

button:hover {
  font-size: 100px;
  cursor: pointer;
  /* color: rgb(106, 106, 106); */
}

input {
  border: none;
  padding: 0 8px;
  border-radius: 5px;
  background-color: var(--light-background);
  color: white;
}

/* input:disabled {
  
} */

input:focus {
  outline: none;
}
